.table_servises,
.thead_servises,
.tr_servises,
.tr_servises td {
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
}
.table_servises  {
    border-radius: 10px;
    border: 2px solid black;
}
.thead_servises{
    column-gap: 2px;
}
.title_servises{
    font-size: 16px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    font-style:inherit;
    padding-bottom: 10px;
}
.tr_servises:nth-child(even) {
    background-color: #6e7070;
    color: white;
  }
.tr_servises td {
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
}
.section__servises{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.labelTable__servises {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 600;
}
.select__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.select__container__servises{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque;
    min-width: 100%;
    align-items: center;
    flex-direction: column;
}
.select__container__servises {
    display: flex;
    justify-content: center;
    background-color: bisque;
    align-items: center;
    flex-direction: column;
}
.select__container__servises select {
    background-color: #0563af;
    color: white;
    padding: 4px;
    width: 250px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 8px;
  }

  .select__container__servises:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  .select__container__servises select option {
    padding: 30px;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color:goldenrod;
  }
  @media screen and (max-width: 319.9px) {
    .labelTable_servises {
        display: flex;
        text-align: center;
        font-size: 10px;
        padding-left: 20px;
        padding-bottom: 0;
        margin: 0;
        flex-direction: column;
    }
    .select__container__servises select {
        font-size: 10px; 
        max-width: 200px;
    }
}
@media screen and (min-width: 320px) and (max-width: 540px) {
    .labelTable_servises {
        display: flex;
        text-align: center;
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 0;
        margin: 0;
        flex-direction: column;
    }
    .select__container__servises select {
        font-size: 14px; 
        max-width: 200px;
    }
}
.chatIcon{
    width: 20px;
    height: 20px;
    padding: 3px;
}