.busshadule__caption {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
}
.busshadule__table, 
.busshadule__tr td {
    font-size: 16px;
    border: 1px solid grey;
    text-align:center;
  } 
.busshadule__thead {
    font-size: 20px;
    column-gap: 5px;
  }
.busshadule__tr td {
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 320px) {
  .busshadule__table,
  .busshadule__tr td {
    font-size: 12px;
  } 
  .busshadule__thead{
  font-size: 14px;
  }
}
.chatIcon{
  width: 20px;
  height: 20px;
  padding: 3px;
}