.table_goods,
.thead_goods,
.tr_goods,
.tr_goods td {
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
}
.table_goods  {
    border-radius: 10px;
    border: 2px solid black;
}
.thead_goods{
    column-gap: 2px;
}
.title_goods{
    font-size: 28px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    font-style:inherit;
    padding-bottom: 10px;
}
.tr_goods:nth-child(even) {
    background-color: #6e7070;
    color: white;
  }
.tr_goods td {
    text-align: center;
    border: 1px solid grey;
    padding: 5px;
}
.section__goods{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.labelTable_goods {
    font-size: 24px;
    padding: 0 10px;
    font-weight: 600;
}
@media screen and (max-width: 319.9px) {
    .labelTable_goods{
    font-size: 20px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .labelTable_goods{
    font-size: 24px;
    }
}
.select__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.select__container__goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque;
}
.select__container__goods select {
    background-color: #0563af;
    color: white;
    padding: 4px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 8px;
  }

  .select__container__goods:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  .select__container__goods select option {
    padding: 30px;
  }