.menu {
    max-width: 180px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
    border-right: 2px solid black;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}
.menu a {
    text-align: center;
    margin: 10px 0;
}
h3 {
    text-align: center;
    color: white;
}
.leftArrow>svg {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    fill: white;
}
#menu-bar.hide-bar {
    position: absolute;
    display: none;
    top: -100;
    left: -100;
  }
  .rightArrow>svg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    fill: black

  }