.sectionFriendList {
    margin-right: 24px;
}
.friendList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 200px;
    margin: 0;
    padding: 0;
}
